body {
    background: rgb(244, 229, 242);
    color: rgb(40, 39, 39);
    width: 700px;
    margin: 100px auto;
    padding: 10px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container {
    display: block;
    font-size: 18px;
    max-width: 700px;
    margin: 100px auto 0;
    text-align: center;
}