* {
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 196, 179);
}

#container {
    max-width: 650px;
    margin: 30px auto;
    display: block;
}

#blog-list a {
    text-decoration: none;
    text-align: center;
    color: black;
}



/* Update and Create post form */
/* #container-post {
    max-width: 550px;
    margin: 30px auto;
}

#post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    border-radius: 3px 3px;
}

input,
button {
    height: 25px;
    border: 0.5px solid;
}

#blog-list a {
    text-decoration: none;
    text-align: center;
    color: black;
} */