body {
    background-color: whitesmoke;
    margin: 20px;
}

.wrapper {
    max-width: 700px;
    padding: 28px 0 30px;
    margin: 50px auto;
    background: rgb(239, 178, 187);
    border-style: groove;
}

#container {
    max-width: 650px;
    margin: 30px auto;
    display: block;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
}

ul {
    list-style-type: none;
    position: relative;

}

h1 {
    color: rgb(16, 16, 16);
    font-size: 30px;
    padding: 10px;
    text-align: left;
}

hr {
    margin-block-start: 10px;
    color: black;
}





/* Update and Create post form */
/* #container-post {
    max-width: 550px;
    margin: 30px auto;
}

#post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    border-radius: 3px 3px;
}

input,
button {
    height: 25px;
    border: 0.5px solid;
}

#blog-list a {
    text-decoration: none;
    text-align: center;
    color: black;
} */