* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

#container {
    max-width: 650px;
    margin: 30px auto;
}

a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
#create-post{
    padding-bottom: 2px;
}
h2, nav a {
    color: #e03b07;
}
.nav {
    display: flex;
    flex-direction: row-reverse;
}

form {
    background-color: white;
}

thead,
tbody,
th,
td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

hr {
    margin-block-start: 0px;
}

/* Update and Create post form */
#container-post {
    max-width: 550px;
    margin: 30px auto;
}

#post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    border-radius: 3px 3px;
}

input,
button {
    height: 25px;
    border: 0.5px solid;
}

#post a {
    text-decoration: none;
    text-align: center;
    color: black;
}
#submit {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px 4px;
}